/***Стили footer сайта***/
.page-footer {
  flex: 0 0 auto;
  //background-color: darkgrey;
  box-sizing: border-box;
  //height: 400px;
  &__container {
    /***Стили основного контейнера, меню, авторское право, подписаться, разработчик***/
    //max-width: 90%;
    //margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    //background-color: #c6fffe;
    &__box {
      /***Стили двух блоков, верх и низ***/
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      //border: 1px solid red;
      //padding: 0 5px;
      &__item {
        //background: gray;
        //height: 180px;
        &__menu {
          /***Стили низ, лево меню***/
          display: flex;
          flex-direction: column;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          font-family: @font1;
          border-left: 5px solid @red;
          a {
            margin: 0 0 0 10px;
            padding: 5px 0;
            text-decoration: none;
            color: @black;
          }
          a:hover {
            text-decoration: none;
            color: @red_dark;
          }
        }
      }
    }
  }
  .item3,
  .item4,
  .item5 {
    align-content: flex-end;
  }
  &__subscribe {
    /***Стили подписаться***/
    &__input {
      width: 310px;
      height: 49px;
      border: none;
      &__btnf {
        width: 135px;
        height: 52px;
        margin-bottom: 15px;
        background-color: @black;
        color: @white;
        font-size: 14px;
        font-family: @font1;
        border: none;
        transition: background-color 0.2s;
        &:hover {
          background-color: @red_dark;
        }
      }
    }
  }
  &__insta {
    margin-right: 44px;
  }
}
/*---------------------------------------------------РАЗДЕЛИТЕЛЬНАЯ ЧЕРТА---------------------------------------------------*/
