/*Стили footer начало*/
.page-footer {
  flex: 0 0 auto;
  background-color: gray;
  height: 250px;
}
/*Стили footer конец*/

/*---------------------------------------------------РАЗДЕЛИТЕЛЬНАЯ ЧЕРТА---------------------------------------------------*/
