.tenant-card__container {
  width: 624px;
  height: 128;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: #e6eeee;
  margin-bottom: 200px;
  &__box {
    display: flex;
    margin-bottom: 10px;
    &__item {
      flex: 1 0 auto;
      align-content: center;
      background: rgb(216, 212, 212);
      width: 300px;
      height: 50px;
      text-align: center;
      margin: 0 5px;
      font-size: 14px;
      font-family: @font2;
    }
    a:hover {
      color: @white;
    }
  }
}
