/*************************************        *************************************/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main__title {
  color: red;
}

.main__paragraph {
  color: green;
}

.main__hyperlink {
  color: blue;
}

.main__title,
.main__paragraph,
.main__hyperlink {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 10px;
}

.main__paragraph,
.main__hyperlink {
  font-size: 1em;
}

.main__hyperlink:hover {
  color: rgb(87, 87, 225);
  font-size: 1.2em;
  text-transform: uppercase;
}
